<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Développeuses et développeurs : à table !</mat-card-title>
    <mat-card-subtitle>qui mange bien code mieux</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/plate1.jpg" alt="Photo food">
  <mat-card-content>
    <p>
      Entre deux séances de dev : un bon plat et une bonne boisson s'imposent.
      Qu'il sagisse de manger sur le pouce et de prendre le temps, la "Tablée du développeur" saura vous satisfaire.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
